html {
  line-height: 1.5;
}
body {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}
.headerWrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  text-align: center;
}
.mainMenu {
  padding: 0;
  margin: 0;
  text-align: right;
}
.mainMenu li {
  display: inline-block;
  padding: 0 0.3rem;
}
.mainMenu li a {
  color: black;
  text-decoration: none;
}
img {
  width: 100%;
}
footer {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-media img {
  width: 24px;
  height: 24px;
}
